.controll-panel {
  display         : flex;
  flex-direction  : row;
  flex-wrap       : wrap;
  justify-content : center;
  align-items     : center;
  gap             : 25px;
  width           : 60%;
  padding         : 15px;
  margin          : 0 auto;
  border-radius   : 5px;
  background-color: white;
  box-shadow      : 0 1px 4px 0 rgba(0, 0, 0, .1);

  >* {
    flex: 1 1 auto;
  }
}